@page "/fetchauditclaim"
@using ShareModels.Models
@inject HttpClient Http

<PageTitle>Audit CLaim View</PageTitle>

<h1>Audit Claims</h1>

<p>This Shows the audit claims for Claim ID = 2</p>

@if (auditClaims == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Audit Date</th>
                <th>Claim ID</th>
                <th>Policy Holder ID</th>
                <th>Policy Holder</th>
                <th>Policy Holder Address</th>
                <th>Employee ID</th>
                <th>Employee</th>
                <th>Employee Address</th>
                <th>Claim Description</th>
                <th>Claim Amount</th>
                <th>Claim Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var auditClaim in auditClaims)
            {
                <tr>
                    <td>@auditClaim.AuditDate.ToShortDateString()</td>
                    <td>@auditClaim.ClaimID</td>
                    <td>@auditClaim.Client.ClientID</td>
                    <td>@($"{auditClaim.Client.FirstName} {auditClaim.Client.Surname}")</td>
                    <td>@($"{auditClaim.Client.Address1} {auditClaim.Client.Address2}")</td>
                    <td>@auditClaim.Employee.EmployeeID</td>
                    <td>@($"{auditClaim.Employee.FirstName} {auditClaim.Employee.Surname}")</td>
                    <td>@($"{auditClaim.Employee.Address1} {auditClaim.Employee.Address2}")</td>
                    <td>@auditClaim.ClaimDescription</td>
                    <td>@auditClaim.ClaimAmount</td>
                    <td>@auditClaim.ClaimStatus</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private AuditClaim[]? auditClaims;

    protected override async Task OnInitializedAsync()
    {
        auditClaims = await Http.GetFromJsonAsync<AuditClaim[]>("api/ViewAuditClaim?claimid=1&employeeid=100");
    }
}
